{% extends "base_template.html" %}

{% block additional_css %}
	<style>
		.bottom-right {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		.popover-body {
			height: 500px;
			overflow-y: auto
		}

		#perc-ss {
			position: absolute;
			bottom: 0;
		}
	</style>
{% end %}

{% block content %}
		<!-- Barra Iniziale -->
		<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<ul class="nav navbar-nav" id="myTab" role="tablist">
					<form class="form-inline my-2 my-lg-0">
						<div id="myNav" class="overlay" syle>
							<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
							<div class="overlay-content">
                                <a href="../about">About</a>
                                <a href="../insertDataset/">Dataset Insertion</a>
							</div>
						</div>
					</form>
					<div id="main">
						<span style="font-size:30px;cursor:pointer" onclick="openNav()" class="btn3 fa fa-bars" role="button"/>
					</div>
					<li class="nav-item">
						<a class="navbar-brand nav-link active " id="dataset-tab" data-toggle="tab" href="#dataset" role="tab" aria-controls="home" aria-selected="true">H-Bold 
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="navbar-brand nav-link" id="graph-tab" data-toggle="tab" href="#graph" role="tab" aria-controls="profile" aria-selected="false">Explore Cluster</a>
					</li>
				</ul>
			</div>
		</nav>

		<!-- PARTE VECCHIA BUONA -->
		<!--<div class="tab-pane fade" id="graph" role="tabpanel" aria-labelledby="graph-tab">
        
        <h1> Node: <span class="text-danger" id="nameNode"></span><button type="button" id="expbutt" class="btn btn-primary" style="display:none" >Expand</button></h1>
        <h2><span class="text" id="perc-ss"></span></h2>
    
     <div class="row">
            <div class="col-lg-4">
                    
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Attributes</a>
                      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Properties</a>
                        </div>
                  </nav>
                  <div class="container">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"></div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
                  </div></div>

            </div>

            <div class="col-lg-8" id="chart">
                    
      </div>

      <div class="bottom-right"><button type="button" id="legenda" data-html="true" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top">
            Legenda
          </button></div>
    </div> -->
							<!-- FINE PARTE VECCHIA BUONA-->


							<!--<div class="tab-pane fade" id="query" role="tabpanel" aria-labelledby="query-tab">...</div>
</div> -->

		<!-- PARTE NUOVA MIA -->
		<div class="row no-gutters">
			<div class="col-lg-4 box" style="background-color: #e9ecef;
						 position: fixed;
						 top: 0px;
						 bottom: 0px;
						 padding-top: 70px;
						 height: 100%;
						 border-right: 10px solid rgba(0, 0, 0, 0.1);
						 background-clip: padding-box;
						 ">
				<div class="header">
					<div class="jumbotron jumbotron-fluid" style="padding: 10px 10px; margin: 0px">
						<h2 class="display-4" style="font-size: 3.0vw">Node: <span class="text-danger" id="nameNode" style="font-size: 2.0vw"/>
						</h2>
						<div class="row no-gutters">
							<div class="col">
								<p class="lead">From <span class="graph-title"/>
								</p>
							</div>
						</div>
						<button type="button" id="reset" class="btn btn-primary" style="display:inline" >Reset CS</button>
						<button type="button" id="expAllbutt" class="btn btn-primary" style="display:inline" >ExpandAll</button>
						<button type="button" id="expbutt" class="btn btn-primary" style="display:none" >Expand</button>
						<h3>
							<span class="text" id="perc-ss"/>
						</h3>
					</div>
				</div>

				<nav style="display: table; margin: 0 auto;">
					<div class="nav nav-tabs btn-group" id="nav-tab" role="tablist" style="border-bottom: inherit; padding: 16px 0;">
						<a class="nav-item nav-link active btn btn-secondary" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Attributes</a>
						<a class="nav-item nav-link btn btn-secondary" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Properties</a>
					</div>
				</nav>
				<div class="container content">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col" style="width: 30px" class="op-head">#</th>
										<th scope="col">Attribute</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col" style="width: 15px" class="op-head">#</th>
										<th scope="col">Property name</th>
										<th scope="col"/>
										<th scope="col">Node name</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="graph" role="tabpanel" aria-labelledby="graph-tab">

			<div class="row no-gutters">

				<div class="col-lg-8 offset-lg-4" id="chart"/>
			</div>

			<div class="bottom-right">
				<button type="button" id="legenda" data-html="true" class="btn btn-secondary"
					  data-container="body" data-toggle="popover" data-placement="top"> Legenda </button>
			</div>
		</div>
		<!-- FINE PARTE NUOVA MIA -->

{% end %}

{% block additional_js %}
	<script src="../js/exploreSS.js"></script>
{% end %}		