{% extends "base_template.html" %}

	{% block additional_css %}
        <link rel="stylesheet" type="text/css" href="../css/ss.css">
	{% end %}

	{% block content %}
        <!-- Barra Iniziale -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <ul class="nav navbar-nav" id="myTab" role="tablist">
                    <form class="form-inline my-2 my-lg-0">
                        <div id="myNav" class="overlay" style>
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <div class="overlay-content">
                                <a href="/hbold/about">About</a>
                                <a href="/hbold/insertDataset">Dataset Insertion</a>
                            </div>
                        </div>
                    </form>
                    <div id="main">
                        <span style="font-size:30px;cursor:pointer" onclick="openNav()" class="btn3 fa fa-bars" role="button"></span>
                    </div>
                    <li class="nav-item">
                        <a class="navbar-brand nav-link active" id="dataset-tab" data-toggle="tab" href="#dataset" role="tab" aria-controls="home"
                            aria-selected="true">H-Bold
                        <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand nav-link" id="graph-tab" data-toggle="tab" href="#graph" role="tab" aria-controls="profile" aria-selected="false">Schema Summary</a>
                    </li>
                
                    <!--
                        <li class="nav-item">
                            <a class="navbar-brand nav-link" id="query-tab" data-toggle="tab" href="#query" role="tab" aria-controls="contact" aria-selected="false">Query Panel</a>
                        </li>
                        -->
                </ul>
            </div>
        </nav>
        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark" > 
            <div class="container" id="refer">

                <ul class="nav navbar-nav" id="myTab" role="tablist" >
                   
                    <li class="nav-item">
                        <a class="navbar-brand nav-link" id="graph-tab" data-toggle="tab" href="#graph" role="tab" aria-controls="profile" aria-selected="false">Graph</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand nav-link" id="hierical-tab" data-toggle="tab" href="#hierical" role="tab" aria-controls="profile" aria-selected="false">Hierical</a>
                    </li>
                   
                    <!--
                        <li class="nav-item">
                            <a class="navbar-brand nav-link" id="query-tab" data-toggle="tab" href="#query" role="tab" aria-controls="contact" aria-selected="false">Query Panel</a>
                        </li>
                        -->
                </ul>
            </div>
        </nav>
 
        <!-- Modal: pannello che mostra il risultato di una query -->
        <div class="modal fade" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="false" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-query" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Query Panel</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--<div id="div1"></div>-->
                        <div id="div1">
                            <div id="div2">
                                <div id="resultViz"> </div>
                            </div>
                            <div id="div3">
                                <form><textarea id="code" name="code">
                                    PREFIX a: &lt;http://www.w3.org/2000/10/annotation-ns#>
                                    PREFIX dc: &lt;http://purl.org/dc/elements/1.1/>
                                    PREFIX foaf: &lt;http://xmlns.com/foaf/0.1/>
                                    # Comment!
                                    SELECT ?Concept 
                                    where 
                                    {[] a ?Concept} 
                                    LIMIT 100
                                    </textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--<div id="resultViz"></div>
                        <form><textarea id="code" name="code">
                        PREFIX a: &lt;http://www.w3.org/2000/10/annotation-ns#>
                        PREFIX dc: &lt;http://purl.org/dc/elements/1.1/>
                        PREFIX foaf: &lt;http://xmlns.com/foaf/0.1/>
                        
                        # Comment!
                        
                        SELECT ?Concept 
                        where 
                        {[] a ?Concept} 
                        LIMIT 100
                        </textarea></form>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!--                        <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Inizio della parte grafica centrale-->
        <div class="row no-gutters">
            <div class="col-lg-4 box" style="background-color: #e9ecef;
                position: fixed;
                top: 140px;
                bottom: 0px;
                padding-top: 70px;
                height: 100%;
                border-right: 10px solid rgba(0, 0, 0, 0.1);
                background-clip: padding-box;
                ">
                <div class="header">
                    <div class="jumbotron jumbotron-fluid" style="padding: 10px 10px; margin: 0px">
                        <!--<h1>Node: <span class="text-danger" id="nameNode"></span></h1>-->
                        <h2 class="display-4" style="font-size: 3.0vw">Node: <span class="text-danger" id="nameNode" style="font-size: 2.0vw"></span></h2>
                        <div class="row no-gutters">
                            <div class="col">
                                <p class="lead">From <span class="graph-title"></span></p>
                            </div>
                            <div class="col-md-auto" id="groupPrepareQuery" style="display:none">
                                <button class="btn btn-secondary btn-info" id="prepareQuery">Prepare Query</button>
                            </div>
                            <div class="col-md-auto" id="groupActionQuery" style="display:none">
                                <div class="btn-group">
                                    <button class="btn btn-secondary btn-danger" id="deleteQuery">Delete Query</button>
                                    <button class="btn btn-secondary btn-success" id="launchQuery" data-toggle="modal" data-target="#exampleModal">Launch Query</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav style="display: table; margin: 0 auto;">
                        <div class="nav nav-tabs btn-group" id="nav-tab" role="tablist" style="border-bottom: inherit; padding: 16px 0;">
                            <a class="nav-item nav-link active btn btn-secondary" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Attributes</a>
                            <a class="nav-item nav-link btn btn-secondary" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Properties</a>
                        </div>
                    </nav>
                </div>
                <div class="container content">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 77px" class="op-head">op</th>
                                        <th scope="col" style="width: 15px">#</th>
                                        <th scope="col">p</th>
                                        <th scope="col">n</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="default-icon" style="display: table; margin: 0 auto; padding: 50px; width: 50%">
                                <!--                                <img src="../js/iconmonstr-selection-17.svg" width="100%">-->
                                <h1 class="display-4" style="width: 300px">Select node</h1>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 77px" class="op-head">op</th>
                                        <th scope="col" style="width: 15px">#</th>
                                        <th scope="col">name</th>
                                        <th scope="col"></th>
                                        <th scope="col">name</th>
                                        <th scope="col">np</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <div class="default-icon" style="display: table; margin: 0 auto; padding: 50px; width: 50%">
                                <!--<img src="../js/iconmonstr-selection-17.svg" width="100%">-->
                                <h1 class="display-4" style="width: 300px">Select node</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button type="button" id="links" class="btn btn-primary">Links</button>
                    <button type="button" id="att" class="btn btn-secondary">Attributes</button>
                    <button type="button" id="prop" class="btn btn btn-danger">Properties</button>
                    -->
            </div>
            <!-- Riquadro dove ci sono gli oggetti selezionati per le query -->
            <div class="col offset-lg-4 align-self-end box" style="background-color: rgba(233, 236, 239,1 );
                position: fixed;
                bottom: 0px;
                height: 30vh;
                width: 30vh;
                padding:0px;
                border-top: 10px solid rgba(0, 0, 0, 0.1);
                border-right: 10px solid rgba(0, 0, 0, 0.1);
                border-top-right-radius: 10px;
                background-clip: padding-box;
                z-index: 1">
                <div id="graph2" class="footer">
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="graph" role="tabpanel" aria-labelledby="graph-tab">
            <div class="row no-gutters">
                <div class="col-lg-8 offset-lg-4" id="chart"></div>
                <div class="nav nav-tabs btn-group" id="nav-tab" role="tablist" style="border-bottom: inherit; padding: 16px 0;">
                    <a class="nav-item nav-link active btn btn-secondary" id="prova" data-toggle="tab" href="#nav-home" role="button" aria-controls="nav-home" aria-selected="true">Attributes</a>
                    <a class="nav-item nav-link btn btn-secondary" id="prova2" data-toggle="tab" href="#nav-profile" role="button" aria-controls="nav-profile" aria-selected="false">Properties</a>
                </div>
            </div>
            <div class="tab-pane fade" id="query" role="tabpanel" aria-labelledby="query-tab">...</div>
        </div>
		
{% end %}

{% block additional_js %}
	<script type="text/javascript" src="../js/stapes.min.js"></script>
	<script type="text/javascript" src="../js/myModel.js"></script>
	<script type="text/javascript" src="https://underscorejs.org/underscore.js"></script>
	<script type="text/javascript" src="../js/codemirror.js"></script>
	<script type="text/javascript" src="../js/sparql.js"></script>
	<script type="text/javascript" src="../js/sgvizler.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script src="../js/ss.js"></script>
   
   
  
{% end %}
<!--modifiche tesina-->
 