#graph {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -10;
}

#graph .row,
#graph div {
	height: 100%;
	width: 100%;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.box .header {
	flex: 0 1 auto;
	/* The above is shorthand for:
       flex-grow: 0,
       flex-shrink: 1,
       flex-basis: auto */
}

.box .content {
	flex: 1 1 auto;
	overflow-y: auto;
}

.box .footer {
	width: 100%;
	height: 100%;
	/*border: 1px #000 solid;*/
}

.modal-query {
	margin-left: 28px;
	margin-right: 28px;
	/*position: fixed;*/
	max-width: 100%;
	/* height: 100%; */
	right: 0;
	left: 0;
}
#refer{
	text-align: center;
}
#refer ul {
	text-align:center;
	width: 100%;

}
#refer ul li {
    display:inline-block;
    position: relative;
    /* float: left; */
    height: auto;
    width: 200px;
    padding: 0;
    margin:0 150px;
    text-align: center;

}